<header class="header-container">
    <div class="container header-container">
        <div class="logo">
            <a href="{% url 'index' %}">NIKASANDRIKA</i></a>
        </div>
        <nav>
            <div>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'store' %}">Shop</a>
                <a href="#">Contact</a>
                <a href="#">Rules</a>
            </div>
        </nav>
        <div class="header-text">
            <div class="search-container">
                <form action="{% url 'search' %}" method = 'GET'>
                  <input class="searchbar-input" type="text" placeholder="Search.." name = "keyword">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <span class="cart-container">
                <div class="fa" style="font-size:24px"><a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></a></i></div>
                <span class='badge badge-warning' id='lblCartCount'> <a href="{% url 'cart' %}">{{cart_count}}</a> </span>
            </span>
            <a class="header-text-item" href="./auth.html">Login</a>
            <span>|</span>
            <a class="header-text-item" href="./registration.html">Register</a>
        </div>
    </div>
</header>