<header class="header-container">
    <div class="container header-container">
        <div class="logo">
            <a href="{% url 'index' %}">NIKASANDRIKA</i></a>
        </div>
        <nav>
            <div>
                <a href=" {% url 'index' %} ">Home</a>
                <a href=" {% url 'store' %} ">Shop</a>
                <a href="#">Contact</a>
                <a href="#">Rules</a>
            </div>
        </nav>
        <div class="header-text">
            <a href="#"><i class="fa-solid fa-cart-shopping shopping-icon"></i></a>
            <a class="header-text-item" href="">Login</a>
            <span>|</span>
            <a class="header-text-item" href="">Register</a>
        </div>
    </div>
</header>