{% extends 'base.html' %}
{% load static %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-2">
                <img src="{{single_product.images.url}}" alt="">
            </div>
        
            <div class="col-2">
                <h1>{{single_product.product_name}}</h1>
                <h4>${{single_product.price}}</h4>
                <select>
                    <option>XS</option>
                    <option>S</option>
                    <option>M</option>
                    <option>l</option>
                    <option>XXL</option>
                </select>
                <input type="number" value="1">
                <h3>Product Description</h3>
                <br>
                <p>{{single_product.description}}</p>
                
                {% if single_product.stock <= 0  %}
                    <h1 class = "outofstock"> Out of Stock </h1>
                {% else %}
                
                {% if in_cart %}
                    <a class="btn primary-btnfor-condition" href="">Added To Cart</a>
                    <a class="second-btn" href="{% url 'cart' %}">View Cart</a>

                {% else %}
                    <a class="btn primary-btn" href="{% url 'add_cart' single_product.id%}">Add To Cart</a>
                    <a class="second-btn" href="">Buy Now</a>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
</body>
</html>
{% endblock %}